*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}
.navbar{
    background-color:transparent;
    display:flex;
    align-items: center;
    gap: 10px;

}

.logo-viajes{
    color: white;
}
.carousel-item{
    height:100vh;
}
.navbar-brand{
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

hr{
    border-color: gray;
}

main{
    background-color: black;
    color: white;
}
.container-3card .card{
    background-color: black;
    color: white;
}
.container-3card .card-title{
    background-color: rgb(85, 221, 255);
    color: white;
    margin: 0;
    padding: 0;
}

.card-4{
    background-color: rgb(85, 221, 255);
    color: white;
}

.card-4 img{
    width: 100%;
    height: 20vh;
}
.input {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}
.input_mensaje{
    display: flex;
    width: 100%;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}
.btn{
    background-color: rgb(85, 221, 255);
    color: white;
}
footer{
    background-color: rgb(85, 221, 255);
    color: white;
    height: 30px;
    padding: 20px;
}
.footer-cont{
    display: flex;
    font-weight: 100;
    justify-content: space-between;
    
}

.footer-cont .redes{
    gap: 15px;
}